# 1 Data wrangling<a id='1_Data_wrangling'></a>

## 1.1 Contents<a id='2.1_Contents'></a>
* [1 Data wrangling](#2_Data_wrangling)
  * [1.1 Contents](#2.1_Contents)
  * [1.2 Introduction](#2.2_Introduction)
    * [1.2.1 Recap Of Data Science Problem](#2.2.1_Recap_Of_Data_Science_Problem)
    * [1.2.2 Introduction To Notebook](#2.2.2_Introduction_To_Notebook)
  * [1.3 Imports](#2.3_Imports)
  * [1.4 Objectives](#2.4_Objectives)
  * [1.5 Load Data](#2.5_Load_Data)
  * [1.6 Explore The Data](#2.6_Explore_The_Data)
    * [1.6.1 Number Of Missing Values By Column](#2.6.1_Number_Of_Missing_Values_By_Column)
    * [1.6.2 Categorical Features](#2.6.2_Categorical_Features)
    * [1.6.3 Numeric Features](#2.6.3_Numeric_Features)
  * [1.7 Summary](#2.7_Summary)

## 1.2 Introduction<a id='1.2_Introduction'></a>

This step focuses on collecting your data, organizing it, and making sure it's well defined. Some data cleaning will be done at this stage, but mostly focus is on exploring the data to better understand it.

### 1.2.1 Recap Of Data Science Problem<a id='1.2.1_Recap_Of_Data_Science_Problem'></a>

The purpose of this data science project is to come up with a model for energy production and consumption prediction based on data collected from 1980 to 2021. Energy prediction is a data driven approach which can help understanding how much production and consumption increasing or decreasing over the time. It involves gathering and analyzing data related to energy resources to derive insights and make informed decisions. Main objective of this analysis to make of prediction about rate of energy production and consumption. This model will be used to provide guidance for enery companird about production and demand.

### 1.2.2 Introduction To Notebook<a id='1.2.2_Introduction_To_Notebook'></a>

In this notebook, I will use well structured, helpful headings that frequently are self-explanatory, and make a brief note after any results to highlight key takeaways. This is an immense help to anyone reading your notebook and it will greatly help you when I come to summarise your findings. Note down key findings in a final summary at the end of the notebook. This is a great way to ensure important results don't get lost in the middle of  notebooks.

## 1.3 Imports<a id='2.3_Imports'></a>

In [2]:
#Import pandas, matplotlib.pyplot, and seaborn
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

#from library.sb_utils import save_file

## 1.4 Objectives<a id='1.4_Objectives'></a>

There are some fundamental questions to resolve in this notebook.

* Do you think you may have the data you need to tackle the desired question?
    * Do you have potentially useful features?
* Do you have any fundamental issues with the data?

## 1.5 Load Data<a id='1.5_Load_Data'></a>

In [3]:
coal_prod_data = pd.read_csv('../Data/Production_Data/Production_Coal.csv')

First steps in auditing the data are the info method and displaying the first few records with head.

## 1.6 Explore The Data<a id='1.6_Explore_The_Data'></a>

### 1.6.1 Explore The world Data<a id='1.6.1_Explore_The_world_Data'></a>

In [4]:
coal_prod_data.head()

,Continent,Country,1980,1981,1982,1983,1984,1985,1986,1987,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Production_Coal
0,Africa,Algeria,7.59E-05,0.000240414,0.000404907,0.0005694,0.000575727,0.000582054,0.000278374,0.000240414,...,0,0,0,0,0,0,0,0,0,0.000000
1,Africa,Angola,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
2,Africa,Benin,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
3,Africa,Botswana,0.008262057,0.008484744,0.009241913,0.008796519,0.00875198,0.009731845,0.010912138,0.010845329,...,0.033315425,0.038212317,0.046534212,0.04192044,0.049608123,0.048393175,0.047178203,0.041939121,0.044340069,0.952191
4,Africa,Burkina Faso,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000

In [5]:
coal_prod_data.shape

(230, 45)

In [6]:
coal_prod_data.describe()

       Production_Coal
count       230.000000
mean         21.945854
std         145.615741
min           0.000000
25%           0.000000
50%           0.000000
75%           0.532661
max        1968.375434

In [7]:
coal_prod_data.columns

Index(['Continent', 'Country', '1980', '1981', '1982', '1983', '1984', '1985',
       '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994',
       '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003',
       '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       'Production_Coal'],
      dtype='object')

In [8]:
coal_prod_data.isnull().sum()

Continent          0
Country            0
1980               0
1981               0
1982               0
1983               0
1984               0
1985               0
1986               0
1987               0
1988               0
1989               0
1990               0
1991               0
1992               0
1993               0
1994               0
1995               0
1996               0
1997               0
1998               0
1999               0
2000               0
2001               0
2002               0
2003               0
2004               0
2005               0
2006               0
2007               0
2008               0
2009               0
2010               0
2011               0
2012               0
2013               0
2014               0
2015               0
2016               0
2017               0
2018               0
2019               0
2020               0
2021               0
Production_Coal    0
dtype: int64

In [9]:
coal_prod_data.dtypes

Continent           object
Country             object
1980                object
1981                object
1982                object
1983                object
1984                object
1985                object
1986                object
1987                object
1988                object
1989                object
1990                object
1991                object
1992                object
1993                object
1994                object
1995                object
1996                object
1997                object
1998                object
1999                object
2000                object
2001                object
2002                object
2003                object
2004                object
2005                object
2006                object
2007                object
2008                object
2009                object
2010                object
2011                object
2012                object
2013                object
2014                object
2015                object
2016                object
2017                object
2018                object
2019                object
2020                object
2021                object
Production_Coal    float64
dtype: object

In [13]:
long_coal_prod_data = coal_prod_data.melt(ignore_index=False).reset_index()

In [16]:
long_coal_prod_data.head()

   index   variable   value
0      0  Continent  Africa
1      1  Continent  Africa
2      2  Continent  Africa
3      3  Continent  Africa
4      4  Continent  Africa

### 1.6.2 Explore The production Data<a id='1.6.2_Explore_The_production_Data'></a>

In [83]:
prod_data.head()

,Continent,Country,1980,1981,1982,1983,1984,1985,1986,1987,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Total_production
0,Africa,Algeria,2.803017355,3.03753686,3.224933779,3.606400483,3.859176003,3.907465538,3.968324779,4.218086334,...,6.510417691,6.561749872,6.696192523,6.910709728,6.830371007,6.755066467,6.474600013,5.972769931,6.656881917,238.118858
1,Africa,Angola,0.335098042,0.291293691,0.276262403,0.395407667,0.462550452,0.511269369,0.621432995,0.789428936,...,3.932204112,3.802528446,3.949946917,3.93529724,3.899020984,3.814151292,3.526638469,3.159336901,2.824017641,90.852722
2,Africa,Benin,in,0,0,0.00896,0.01573,0.01793,0.01793,0.01569,...,0.000019082,0.00001902,0.000055914,0.00009232,0.000055278,4.64E-05,7.18E-05,6.19E-05,7.07E-05,0.178363
3,Africa,Botswana,0.008262057,0.008484744,0.009241913,0.008796519,0.00875198,0.009731845,0.010912138,0.010845329,...,0.033334507,0.038240847,0.046562169,0.0419666,0.049654188,0.048447799,0.047231633,0.041991759,0.044392707,0.952582
4,Africa,Burkina Faso,0,0,0,0,0,0,0,0,...,0.001106756,0.00096051,0.000987814,0.00143096,0.001455654,0.002066608,0.00190567,0.001859876,0.002054882,0.033589

In [84]:
prod_data.shape

(229, 45)

In [85]:
prod_data.describe()

       Total_production
count        229.000000
mean          79.280368
std          308.217753
min            0.000000
25%            0.039002
50%            2.272900
75%           27.855034
max         3149.020415

In [86]:
prod_data.columns

Index(['Continent', 'Country', '1980', '1981', '1982', '1983', '1984', '1985',
       '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994',
       '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003',
       '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       'Total_production'],
      dtype='object')

In [87]:
prod_data.isnull().sum()

Continent           0
Country             0
1980                0
1981                0
1982                0
1983                0
1984                0
1985                0
1986                0
1987                0
1988                0
1989                0
1990                0
1991                0
1992                0
1993                0
1994                0
1995                0
1996                0
1997                0
1998                0
1999                0
2000                0
2001                0
2002                0
2003                0
2004                0
2005                0
2006                0
2007                0
2008                0
2009                0
2010                0
2011                0
2012                0
2013                0
2014                0
2015                0
2016                0
2017                0
2018                0
2019                0
2020                0
2021                0
Total_production    0
dtype: int64

In [88]:
prod_data.dtypes

Continent            object
Country              object
1980                 object
1981                 object
1982                 object
1983                 object
1984                 object
1985                 object
1986                 object
1987                 object
1988                 object
1989                 object
1990                 object
1991                 object
1992                 object
1993                 object
1994                 object
1995                 object
1996                 object
1997                 object
1998                 object
1999                 object
2000                 object
2001                 object
2002                 object
2003                 object
2004                 object
2005                 object
2006                 object
2007                 object
2008                 object
2009                 object
2010                 object
2011                 object
2012                 object
2013                 object
2014                 object
2015                 object
2016                 object
2017                 object
2018                 object
2019                 object
2020                 object
2021                 object
Total_production    float64
dtype: object

In [99]:
prod_data.Country.value_counts().sum()

229

In [100]:
prod_data.Continent.value_counts().sum()

229

In [103]:
prod_data.Continent.unique()

array(['    Africa', '    Eurasia', '    Europe', '    Asia & Oceania',
       '    Middle East', '    North America',
       '    Central & South America'], dtype=object)

### 1.6.3 Explore The consumption Data<a id='1.6.3_Explore_The_consumption_Data'></a>

In [90]:
consum_data.head()

,Continent,Country,1980,1981,1982,1983,1984,1985,1986,1987,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Total_Consumption
0,Africa,Algeria,0.780695167,0.663391323,0.952188116,1.070561843,1.130786713,1.046418247,1.066300962,1.138318654,...,2.037584643,2.299888436,2.35214754,2.33598238,2.365986905,2.522119152,2.624873096,2.480810774,2.581123314,64.746181
1,Africa,Angola,0.058366148,0.057863688,0.062007899,0.066297007,0.059894701,0.073766696,0.072853256,0.075135479,...,0.347761278,0.382763726,0.39921871,0.364251517,0.347458949,0.359226946,0.404865374,0.402317536,0.328628418,7.403765
2,Africa,Benin,0.006526525,0.006574612,0.004640112,0.006731564,0.006673241,0.007698814,0.007501055,0.005942365,...,0.066471109,0.070275151,0.077723341,0.094785008,0.10051639,0.111506331,0.101325936,0.108653617,0.110194887,1.660207
3,Africa,Botswana,0.014748762,0.015462338,0.014427219,0.014460824,0.014444631,0.018865991,0.020060806,0.021144246,...,0.065375734,0.065661654,0.080008274,0.088008537,0.080969008,0.080276228,0.080755726,0.076835026,0.082892488,2.021542
4,Africa,Burkina Faso,0.0060363,0.006019807,0.006019807,0.006019807,0.0060363,0.005819147,0.006886218,0.007191413,...,0.0451141,0.042012755,0.053396002,0.051306252,0.05946458,0.066130673,0.067697934,0.064550875,0.068226015,0.988877

In [91]:
consum_data.shape

(230, 45)

In [92]:
consum_data.describe()

       Total_Consumption
count         230.000000
mean           79.129864
std           337.588195
min             0.000000
25%             0.747999
50%             5.103923
75%            38.877648
max          3830.095107

In [93]:
consum_data.columns

Index(['Continent', 'Country', '1980', '1981', '1982', '1983', '1984', '1985',
       '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994',
       '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003',
       '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       'Total_Consumption'],
      dtype='object')

In [94]:
consum_data.isnull().sum()

Continent            0
Country              0
1980                 0
1981                 0
1982                 0
1983                 0
1984                 0
1985                 0
1986                 0
1987                 0
1988                 0
1989                 0
1990                 0
1991                 0
1992                 0
1993                 0
1994                 0
1995                 0
1996                 0
1997                 0
1998                 0
1999                 0
2000                 0
2001                 0
2002                 0
2003                 0
2004                 0
2005                 0
2006                 0
2007                 0
2008                 0
2009                 0
2010                 0
2011                 0
2012                 0
2013                 0
2014                 0
2015                 0
2016                 0
2017                 0
2018                 0
2019                 0
2020                 1
2021                 1
Total_Consumption    0
dtype: int64

In [95]:
consum_data.dtypes

Continent             object
Country               object
1980                  object
1981                  object
1982                  object
1983                  object
1984                  object
1985                  object
1986                  object
1987                  object
1988                  object
1989                  object
1990                  object
1991                  object
1992                  object
1993                  object
1994                  object
1995                  object
1996                  object
1997                  object
1998                  object
1999                  object
2000                  object
2001                  object
2002                  object
2003                  object
2004                  object
2005                  object
2006                  object
2007                  object
2008                  object
2009                  object
2010                  object
2011                  object
2012                  object
2013                  object
2014                  object
2015                  object
2016                  object
2017                  object
2018                  object
2019                  object
2020                  object
2021                  object
Total_Consumption    float64
dtype: object

In [98]:
consum_data.Country.value_counts().sum()

230

In [101]:
consum_data.Continent.value_counts().sum()

230

In [102]:
consum_data.Continent.unique()

array(['Africa', 'Asia & Oceania', 'Middle East',
       'Central & South America', 'North America', 'Europe', 'Eurasia'],
      dtype=object)